@{
    ViewData["Title"] = "Home Page";
}
<div style="height: 20px;"></div>
<div class="row">
    <div align="center">
        <img src="~/images/mic-banner.jpg" class="img-responsive" />
    </div>
    <!-- TODO: HOME PAGE-->
</div>

