@model MICMediaManager.Models.DisplayItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DisplayItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageUri)
        </dt>
        <dd>
            <img src="@Model.ImageUri" style="width: 500px;"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
