@{
    ViewData["Title"] = "Account Required";
}

<header>
    <h1 class="text-danger">Account Not Found</h1>
    <p class="text-danger">To enable Twitter login, you must first <a asp-action="Login">login using your email</a>, then add Twitter as an external login.</p>
</header>
